@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


  .btn {
    @apply font-bold py-2 px-4 rounded;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }


@media only screen and (min-width: 200px) and (max-width:767px){
   
    #landing_1{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }

    #landing_1 img{
        width:100px;
    }

    
    #landing_2{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
    
    #landing_2 img{
        width:1000px;
    }


    .hero_seaction_1{
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
  .product_1 { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 600px) {
  .cards_1 { 
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    overflow: hidden;

  }
}

@media (max-width: 600px) {
  .switch_1{ 
    width: 50%;
  }
}

@media (max-width: 600px) {
  .insider_father{ 
    height: 100%;
  }
}

@media (max-width: 600px) {
.alert_bar{}
}

.alert_1{
  box-shadow: 0 4px 8px #0000003d;
}

.aif_1{
  box-shadow: 3PX 4px 8px #0000003d;
}



.image-grid {
	--gap: 16px;
	--num-cols: 4;
	--row-height: 220px;
	box-sizing: border-box;
	padding: var(--gap);
  
	display: grid;
	grid-template-columns: repeat(var(--num-cols), 1fr);
	grid-auto-rows: var(--row-height);
	gap: var(--gap);
}

.image-grid>img {
  width: 100%;
	height: 100%;
	object-fit: cover;
  border-radius:20px;
}

.image-grid-col-2 {
	grid-column: span 2;
}

.image-grid-row-2 {
	grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-width: 1024px) {
	.image-grid {
		--num-cols: 2;
		--row-height: 200px;
	}
}


